<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/party/register-submit" method="POST" >
    <table>
        <tr>
            <td>
                <h3>
                    Add Party
                </h3>
            </td>
        </tr>
        <input type="text" name="id" readonly hidden value="<%=party.id%>">
        <tr>
            <td>
                Enter Party  Name
            </td>
            <td>
                <input type="text" name="name" value="<%=party.name%>" required >
            </td>
        </tr>
        <tr>
            <td>
                Enter Main Candidate  Name
            </td>
            <td>
                <input type="text" name="main_candidate" value="<%=party.main_candidate%>" required >
            </td>
        </tr>
        <tr>
            <td>
                Enter Party  Short  Name
            </td>
            <td>
                <input type="text" name="short_name" value="<%=party.short_name%>"  required >
            </td>
        </tr>
        <tr>
            <td>
               <input type="submit" value="Edit" >
            </td>
            <td>
                <input type='reset'  >
            </td>
        </tr>
        <tr>
           <td><h1 style="color: green;" ><%=message%></h1></td>
        </tr>
        <tr>
            <td><h1 style="color: red;" ><%=error%></h1></td>
         </tr>
    </table>
</form>
</body>
</html>