<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        List Of Parties
    </h1>
    <table border="1" >
     <tr> 
         <th>Logo</th>
         <th>Party Name</th>
         <th>Main Candidate</th>
         <th>Short Name</th>
         <th>Edit</th>
         <th>Delete</th>
     </tr>
     <% parties.forEach(function(item){ %>
        <tr>
            <td><img src="/images/<%=item.logo%>" height="100" width="100" alt="failed to load image" ></td>
            <td><%=item.name%></td>
            <td><%=item.main_candidate%></td>
            <td><%=item.short_name%></td>
            <td><a href="/party/edit/<%=item.id%>">Edit</a></td>
            <td><a href="/party/delete/<%=item.id%>">Delete</a></td>
        </tr>
     <% }) %>   
    </table>
</body>
</html>